/* explore */
.explore-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  .explore-content {
    max-width: 660px;
  }
  
  .explore-paragraph {
    margin-top: 24px;
    padding-right: 1px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .first-paragraph {
    margin-top: 75px;
  }
  
  .text-emphasize-brown {
    color: #caaa7d;
  }
  
  .explore-picture {
    position: relative;
    margin-top: 15px;
    width: 720px;
    height: 700px;
    overflow: hidden;
  }

  .img-compare-img {
    width: 720px;
    height: 700px;
  }

  .compare-image {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .image-before {
    position: absolute;
    z-index: 10;
  }

  .image-after {
    position: absolute;
    z-index: 5;
  }


  .explore-slider {
    height: auto;
    width: 35px;

    position: absolute;
    top: 0;
    left: 50%;
    z-index: 20;

    cursor: ew-resize;
  }

  



  @media (max-width: 1480px){ /*till 1024px */
    .explore-container {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }

    .explore-content {
      max-width: 100%;
    }

    .explore-paragraph {
      margin-top: 2px;
      padding-right: 1px;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      line-height: 35px;
    }

    .first-paragraph {
      margin-top: 63px;
    }

    .last-explore-paragraph {
      display: none;
    }

    .explore-picture {
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 1023px){ /* 1023px - 768px */
    .explore-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .explore-content p {
      display : none;
    }

    .explore-picture {
      max-width: 100%;
    }

    .explore-slider {
      max-height: 700px;
    }
  }

  @media (max-width: 969px) {
    .explore-picture {
      padding-top: 76.22%;
    }
  }

  @media (max-width: 767px){
    .explore-picture{
      margin-bottom: 39px;
      height: auto;
      padding-top: 97.22%;
    }

  }