/* video */
#video {
  padding-bottom: 74px;
}

.video-text-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .video-player {
    margin-bottom: 40px;
  }
  
  .video-paragraph {
    width: 720px;
    margin-top: 6px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .video {
    max-width: 1440px;
    background-color: #caaa7d;
    position: relative;
  }

  .current-video {
    display: block;
    /*width: 1440px;
    height: 650px;*/
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .playback-ratio {
    display: none;
    position: absolute;
    top: 50px;
    left: calc(50% - 50px);
    z-index: 600;

    width: 100px;
    height: 50px;
    line-height: 50px;
    vertical-align: center;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
  }

  .play-video-big-btn {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 220px;
    height: 220px;
    border: none;
    background: none;
    background-image: url("../assets/svg/play-video.svg");
    transition: 0.1s;
  }

  .play-video-big-btn:hover {
    opacity: 60%;
    transition: 0.1s;
  }
  
  .player-controls {
    width: 1440px;
    height: 85px;
  
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    transition: 0.1s;
  }
  
  .player-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    margin: 0;
    transition: 0.1s;
  }

  .player-btn:hover {
    opacity: 60%;
    transition: 0.1s;
  }
  
  .player-play-btn {
    width: 23px;
    height: 31px;
  }

  .player-play-imgbtn, .player-volume-imgbtn, .player-fullscreen-imgbtn {
    width: auto;
    height: 100%;
  }
  
  .player-volume-btn {
    width: 38px;
    height: 31px;
  }

  .player-fullscreen {
    width: 35px;
    height: 35px;
  }
  
  .player-range {
    height: 8px;
    cursor: pointer;
  
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
  }
  
  .player-time-range {
    width: 929px;
    background: linear-gradient(to right, #710707 0%, #710707 53%, #c4c4c4 53%, #c4c4c4 100%);
  }
  
  .player-volume-range {
    width: 155px;
    background: linear-gradient(to right, #710707 0%, #710707 23%, #c4c4c4 23%, #c4c4c4 100%);
  }
  
  .player-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50px;
  }
  
  .player-range::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50px;
  }
  
  .playlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .iframe-playlist-item {
    width: 452px;
    height: 254px;
  }

  .video-iframe {
    width: 452px;
    height: 254px;
  }
  
  .playlist-slider {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: space-between;
    width: 200px;
    height: 12px;
    margin: 41px auto 0 auto;
    
  }

  .playlist-bullets {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    height: 12px;
    margin: 0
  }

  .playlist-bullets .slider-pagination-bullet {
    width: 12px;
    height: 12px;
    content: "";
    background-color: #999999;
    border-radius: 50px;
    transition: 0.1s
  }

  .playlist-bullets .slider-pagination-bullet:hover {
    background-color: #710707;
    transition: 0.1s;
  }

  .playlist-bullets .slider-pagination-bullet-active {
    background-color: #333333;
  }

  .playlist-prev {
    width: 10px;
    height: 12px;
    background: none;
    background-image: url("../assets/svg/video-pagination-prev.svg");
    background-repeat: no-repeat;
    border: none;

  }

  .playlist-next {
    width: 10px;
    height: 12px;
    background: none;
    background-image: url("../assets/svg/video-pagination-prev.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    border: none;

  }

  .slide-nocolumn {
    display: none;

  }

  .slide-column1 {
    order: 0;

  }

  .slide-column2 {
    order: 1;

  }

  .slide-column3 {
    order: 2;

  }



/* animation */

.Lvideo-hiding-to-left {
  position: relative;
  animation-duration: 0.5s;
  animation-name: activetonext;
}

.Lvideo-hiding-to-right {
  animation-duration: 0.5s;
  animation-name: activetoprev;
}

.Lvideo-sliding-to-left {
  animation-duration: 0.5s;
  animation-name: nextslidein;
}

.Lvideo-sliding-to-right {
  animation-duration: 0.5s;
  animation-name: prevslidein;
}


  @media (max-width: 1480px){ /*till 1024px */
    #video {
      padding-bottom: 60px;
  }

    .video-text-content {
      margin-bottom: 10px;
    }

    .video-text-content p {
      display: none;

    }
    .video {
      width: 100%;
      height: auto;
    }

    .play-video-big-btn {
      width: 152px;
      height: 152px;
      background-size: contain;
    }

    .current-video {
      display: block;
      width: 100%;
      height: auto;
    }

    .player-controls {
      width: 100%;
      height: 60px;
      padding-left: 40px;
      padding-right: 40px;
    }
    .player-range {
      height: 5px;
    }
    .player-time-range {
      width: 564px;
    }
    .player-volume-range {
      width: 143px;
    }

    .player-range::-webkit-slider-thumb {
      width: 13px; /* Set a specific slider handle width */
      height: 13px; /* Slider handle height */
    }
    
    .player-range::-moz-range-thumb {
      width: 13px; /* Set a specific slider handle width */
      height: 13px; /* Slider handle height */
    }

    .player-play-btn {
      width: 23px;
      height: 30px;
    }
    
    .player-volume-btn {
      width: 26px;
      height: 20px;
    }
    .player-fullscreen {
      width: 26px;
      height: 26px;
    }

    /* playlist */

    .playlist {
      gap: 41px;
      width: 100%;
    }

    .iframe-playlist-item {
      width: 100%;
      padding-top: 17.3%;
      height: unset;
      position: relative;
  }
  .video-iframe  {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

    .slide-column3 {
      display: block;
    }

    .playlist-slider {
      margin: 41px auto 0 auto;
  }
  }

  @media (max-width: 1023px){ /* 1023px - 768px */
    #video {
      padding-bottom: 40px;
  }

    .video-text-content {
      margin-bottom: -5px;
  }
    .playlist-bullets .slider-pagination-bullet {
      width: 10px;
      height: 10px;
    }

    .play-video-big-btn {
      width: 80px;
      height: 80px;
      background-size: contain;
    }

    .video-player {
      margin-bottom: 20px;
    }

    /*playlist */
    #playlist-slider {
      margin-bottom: 40px;
    }
    .playlist {
      gap: 20px;
      width: 100%;
    }

    .iframe-playlist-item {
      width: 100%;
      padding-top: 27.2%;
      height: unset;
      position: relative;
  }
  .video-iframe  {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

    .slide-column3 {
      display: none;
    }

    .playlist-slider {
      margin: 21px auto 0 auto;
  }

    /* player */
    .player-controls {
      width: 100%;
      height: 53px;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 4px;
      position: relative;
      justify-content: center;
      gap: 35px;
  }
    .player-range {
      height: 5px;
    }
    .player-time-range {
      position: absolute;
      top: -5px;
      left: 0;
      width: 100%;
      margin: 0;
    }
    .player-volume-range {
      width: 100%;
    }

    .player-range::-webkit-slider-thumb {
      width: 13px; /* Set a specific slider handle width */
      height: 13px; /* Slider handle height */
    }
    
    .player-range::-moz-range-thumb {
      width: 13px; /* Set a specific slider handle width */
      height: 13px; /* Slider handle height */
    }

    .player-play-btn {
      width: 23px;
      height: 29px;
    }
    
    .player-volume-btn {
      width: 27px;
      height: 21px;
    }
    .player-fullscreen {
      width: 27px;
      height: 27px;
    }
  }

  @media (max-width: 767px){
    .video-text-content {
      margin-bottom: -7px;
  }

  .video-player {
    margin-bottom: 40px;
}
    .play-video-big-btn {
      width: 50px;
      height: 50px;
      background-size: contain;
      top: -5px;
  }

  .player-controls {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
  }

  .player-play-btn {
    width: 14px;
    height: 18px;
  }
  .player-volume-btn {
    width: 18px;
    height: 14px;
  }

  .player-fullscreen {
    width: 18px;
    height: 18px;
  }
  .player-range {
    height: 4px;
}

.player-range::-webkit-slider-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
}

.player-range::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
}

.player-time-range {
  top: -4px;
  }

  .playlist-bullets .slider-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .playlist-next, .playlist-prev {
    width: 7px;
    height: 8px;
    background-size: contain;
  }

  .playlist-slider {
    margin: 38px auto 0 auto;
    width: 180px;
}

#video {
  padding-bottom: 1px;
}

#playlist-slider {
  margin-bottom: 36px;
}

}