* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.dark {
  background-color: #030303;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.border-bottom {
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
}

/* headers */
h1,
h2 {
  margin-top: 0;
  font-family: Forum, serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
}

h2:hover {
  color: #9D8665;
}

h3 {
  position: relative;
  margin-top: 22px;
  margin-bottom: 22px;

  font-family: Forum, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 300px;
  background-color: #710707;
  transition: 0.2s;
}

.gallery-card:hover h3::after{
  width: 100%;
  transition: 0.2s;
}

h4 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
}

h5 {
  margin-top: 10px;
  margin-bottom: 0px;

  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;

  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.fw700 {
  font-weight: 700;
}

/* Buttons */
.button-text {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  justify-content: center;
}

.red-button {
  display: block;
  width: 360px;
  line-height: 75px;
  margin-top: 75px;
  background-color: #710707;

  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb25 {
  margin-bottom: 25px;
}

/* intercactivity */
a:hover {
  color: #9D8665;
  transition: 0.1s;
}
a:active {
  color: #7E6C51;
}

.red-button:hover {
  background-color: #9D8665;
  color: #FFFFFF;
  transition: 0.1s;
}



@media (max-width: 1480px){
  /* headers */
h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  line-height: 90px;
}

h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  line-height: 80px;
}

.border-bottom {
  padding-bottom: 15px;
}

h3 {
  position: relative;
  margin-top: 22px;
  margin-bottom: 22px;

  font-size: 28px;
  font-weight: normal;
  line-height: 31px;
}

h3.long-title {
  letter-spacing: 3px;
}

h3::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  height: 2px;
  width: 45%;
  background-color: #710707;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
}

h5 {
  margin-top: 10px;
  font-size: 20px;
  line-height: 23px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
}

/* Buttons */
.button-text {
  font-size: 20px;
}

.red-button {
  display: block;
  width: 300px;
  line-height: 60px;
  margin-top: 50px;
}

/* general */
.container{
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}


}

@media (max-width: 1023px){
    /* headers */
  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 60px;
    text-align: center;
  }
  
  h2 {
    font-size: 40px;
    font-weight: normal;
    line-height: 60px;
  }

  .border-bottom {
    padding-bottom: 20px;
  }

  h3 {
    position: relative;
    margin-top: 22px;
    margin-bottom: 2px;
  
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 3px;
  }
  
  h3.long-title {
    letter-spacing: 3px;
  }
  
  h3::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 2px;
    width: 45%;
    background-color: #710707;
  }

  h4 {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 0;
  }

  h5 {
    margin-top: 22px;
    font-size: 18px;
    line-height: 21px;
  }

  .section {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

}

@media (max-width: 767px){
  /* headers */
  h1 {
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
  }

  h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 40px;
  }
  h3{
    font-size: 18px;
    line-height: 20px;    
    letter-spacing: 5px;
  }

  h3.long-title {
    letter-spacing: 5px;
}
  h3::after{
    bottom: -11px;
  }

  h4 {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0;
  }

  h5 {
    margin-top: 22px;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }

  .section {
    padding-bottom: 1px;
  }
}
