/* explore */
.explore-container {
    display: flex;
    gap: 60px;
  }
  
  .explore-paragraph {
    margin-top: 24px;
    padding-right: 1px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .first-paragraph {
    margin-top: 75px;
  }
  
  .text-emphasize-brown {
    color: #caaa7d;
  }
  
  .explore-picture {
    margin-top: 15px;
    width: 720px;
    height: 700px;
  }