/* footer */
.page-footer {
    background-color: #000000;
    color: #ffffff;
  }
  
  .footer-menu {
    display: flex;
    width: 703px;
    justify-content: space-between;
  }
  
  .footer-navigation {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 84px;
    padding-bottom: 49px;
  
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .logo-svg-footer{
    width: 199px;
    height: 33px;
    background-image: url("../assets/svg/logo.svg");
  }
  
  .footer-nav-menu {
    width: 363px;
  }
  
  .footer-menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 0;
    row-gap: 25px;
    column-gap: 168px;
    height: 128px;
  }

  .menu-link-footer {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    text-decoration: none;
    color: inherit;
  }
  
  .socials {
    margin-bottom: 5px;
  }
  
  .socials-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .socials-link {
    display: inline-block;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border: 0.5px solid #ffffff;
    border-radius: 50px;
    text-decoration: none;
    color: inherit;
    text-align: center;
    line-height: 42px;
  }
  
  .socials-img {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
  }
  
  .separation-line {
    width: 100%;
    height: 3px;
    background-color: #666666;
  }
  
  .footer-rights {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 38px;
    padding-bottom: 50px;
  
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .menu-low-footer {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    text-decoration: none;
    color: inherit;
  }

  @media (max-width: 1480px){ /*till 1024px */
    .footer-navigation {
      padding-top: 60px;
      padding-left: 20px;
    }
    .footer-menu {
      width: 602px;
    }
    .footer-menu-list {
      margin-top: 6px;
      column-gap: 70px;
    }
    .socials{
      margin-bottom: 0px;
      margin-right: 20px;
    }    
    .footer-rights {
      padding-left: 20px;
      padding-right: 20px;
    }

    .menu-low-footer {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 21px;
      line-height: 23px;
      letter-spacing: 3px;
      margin-top: 13px;
    }
  
  }
  
  @media (max-width: 1023px){ /* 1023px - 768px */
    .footer-navigation {
      padding-top: 48px;
      padding-left: 20px;
      display: block;
      padding-bottom: 39px;
    }
    .footer-menu {
      width: 661px;
    }
    .footer-menu-list {
      margin-top: 9px;
      column-gap: 161px;
    }
    .menu-link-footer {
      font-weight: 200;
      font-size: 18px;
      line-height: 21px;
    }

    .socials {
      margin: 35px auto 0px 298px;
    }

    .socials-list {
      justify-content: flex-start;
    }

    .menu-low-footer {
      font-weight: 200;
      margin-top: 2px;
    }
  
  }