/* video */
.video-text-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .video-player {
    margin-bottom: 40px;
  }
  
  .video-paragraph {
    width: 720px;
    margin-top: 6px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .video {
    max-width: 1440px;
    background-color: #caaa7d;
    background-image: url("../assets/video/main-video.jpg");
    position: relative;
  }

  .current-video {
    width: 1440px;
    height: 650px;
  }

  .play-video-big-btn {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 220px;
    height: 220px;
    border: none;
    background: none;
    background-image: url("../assets/svg/play-video.svg");
  }
  
  .player-controls {
    width: 1440px;
    height: 85px;
  
    display: flex;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
  }
  
  .player-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  
  .player-play-btn {
    width: 23px;
    height: 31px;
  
    background-image: url("../assets/svg/play-small.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .player-volume-btn {
    width: 38px;
    height: 31px;
    background-image: url("../assets/svg/volume.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .player-fullscreen {
    width: 35px;
    height: 35px;
    background-image: url("../assets/svg/fullscreen-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .player-range {
    height: 8px;
    cursor: pointer;
  
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
  }
  
  .player-time-range {
    width: 929px;
    background: linear-gradient(to right, #710707 0%, #710707 53%, #c4c4c4 53%, #c4c4c4 100%);
  }
  
  .player-volume-range {
    width: 155px;
    background: linear-gradient(to right, #710707 0%, #710707 43%, #c4c4c4 43%, #c4c4c4 100%);
  }
  
  .player-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50px;
  }
  
  .player-range::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50px;
  }
  
  .playlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .iframe-playlist-item {
    width: 452px;
    height: 254px;
  }
  
  .playlist-slider {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 200px;
    height: 12px;
    margin: 36px auto 0 auto;
    
  }

  .playlist-bullets .slider-pagination-bullet {
    width: 12px;
    height: 12px;
    content: "";
    background-color: #999999;
    border-radius: 50px;
  }

  .playlist-bullets .slider-pagination-bullet-active {
    background-color: #333333;
  }

  .playlist-prev {
    width: 10px;
    height: 12px;
    background: none;
    background-image: url("../assets/svg/video-pagination-prev.svg");
    background-repeat: no-repeat;
    border: none;

  }

  .playlist-next {
    width: 10px;
    height: 12px;
    background: none;
    background-image: url("../assets/svg/video-pagination-prev.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    border: none;

  }


  @media (max-width: 1480px){ /*till 1024px */
    .video-text-content {
      margin-bottom: 10px;
    }

    .video-text-content p {
      display: none;

    }
    .video {
      width: 100%;
      height: auto;
    }

    .play-video-big-btn {
      width: 152px;
      height: 152px;
      background-size: contain;
    }

    .current-video {
      display: block;
      width: 100%;
      height: auto;
    }

    .player-controls {
      width: 100%;
      height: 60px;
      padding-left: 40px;
      padding-right: 40px;
    }
    .player-range {
      height: 5px;
    }
    .player-time-range {
      width: 564px;
    }
    .player-volume-range {
      width: 143px;
    }

    .player-range::-webkit-slider-thumb {
      width: 13px; /* Set a specific slider handle width */
      height: 13px; /* Slider handle height */
    }
    
    .player-range::-moz-range-thumb {
      width: 13px; /* Set a specific slider handle width */
      height: 13px; /* Slider handle height */
    }

    .player-play-btn {
      width: 23px;
      height: 30px;
    }
    
    .player-volume-btn {
      width: 26px;
      height: 20px;
    }
    .player-fullscreen {
      width: 26px;
      height: 26px;
    }


    .iframe-playlist-item {
      width: 300px;
      height: 170px;
    }
  }

  @media (max-width: 1023px){ /* 1023px - 768px */

  }

  @media (max-width: 767px){


  }
  