body {
  margin: 0;
}

.dark {
  background-color: #030303;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.border-bottom {
  padding-bottom: 25px;
  border-bottom: 3px solid #710707;
}

.page-header {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-svg {
  width: 199px;
  height: 33px;
  background-image: url("assets/svg/logo.svg");
}

.logo-text {
  text-transform: uppercase;
  font-family: Forum;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 5px;
  text-align: left;
}

/* Main menu */
.main-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 55px;
  padding: 0;
}

.menu-link {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
  text-decoration: none;
  color: inherit;
}

/* headers */
h1,
h2 {
  font-family: Forum, serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  position: relative;
  margin-top: 25px;
  margin-bottom: 22px;

  font-family: Forum, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 300px;
  background-color: #710707;
}

h4 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
}

h5 {
  margin-top: 10px;
  margin-bottom: 0px;

  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

p {
  margin-top: 10px;
  margin-bottom: 0px;

  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

/* Buttons */
.button-text {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  justify-content: center;
}

.red-button {
  display: block;
  width: 360px;
  line-height: 75px;
  margin-top: 75px;
  background-color: #710707;

  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;

  border: 1px solid red;
}

/* welcome section */
.welcome-container {
  background-image: url("images/pagination.jpg"), url("assets/img/main.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, right top;
  height: 810px;
  width: 100%;
  padding-top: 150px;
  box-sizing: border-box;
}

.welcome-narrow {
  width: 598px;
  height: 388px;
}

/* visiting */
.virtual-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 50px;
  row-gap: 75px;
  padding: 0;
}

.virtual-gallery-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* explore */
.explore-container {
  display: flex;
  gap: 60px;
}

.explore-paragraph {
  margin-top: 25px;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.text-emphasize-brown {
  color: #caaa7d;
}

.explore-picture {
  width: 720px;
  height: 700px;
}

/* video */
.video-text-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.video-player {
  margin-bottom: 40px;
}

.video-paragraph {
  width: 720px;
  margin-top: 3px;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.video {
  width: 1440px;
  height: 650px;
  background-color: #caaa7d;
  background-image: url("./assets/video/main-video.jpg");
}

.player-controls {
  width: 1440px;
  height: 85px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
}

.player-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.player-play-btn {
  width: 23px;
  height: 31px;

  background-image: url("./assets/svg/play-small.svg");
}

.player-volume-btn {
  width: 38px;
  height: 31px;
  background-image: url("./assets/svg/volume.svg");
}

.player-fullscreen {
  width: 35px;
  height: 35px;
  background-image: url("./assets/svg/fullscreen-icon.svg");
}

.player-range {
  height: 8px;
  cursor: pointer;

  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
}

.player-time-range {
  width: 929px;
  background: linear-gradient(to right, #710707 0%, #710707 53%, #c4c4c4 53%, #c4c4c4 100%);
}

.player-volume-range {
  width: 155px;
  background: linear-gradient(to right, #710707 0%, #710707 43%, #c4c4c4 43%, #c4c4c4 100%);
}

.player-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50px;
}

.player-range::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #ffffff; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50px;
}

.playlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* gallery */
.gallery-container {
  box-shadow: inset 0px -10px 30px #000000;
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 36px;
  height: 1960px;
  overflow: hidden;
}

.shadow-bottom {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 360px;
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}

.gallery-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gallery-column-1,
.gallery-column-3 {
  padding-top: 50px;
}

.gallery-image {
  width: 456;
  height: auto;
}
